<!DOCTYPE html>
<html>
  
  <head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/static/css/font.css">
    <link rel="stylesheet" href="/static/css/xadmin.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

      <link rel="stylesheet" href="/static/sweetalert/sweetalert.css">
      <script src="/static/sweetalert/ions_alert.js"></script>
      <script src="/static/sweetalert/sweetalert.min.js"></script>
  </head>
  
  <body>
    <div class="x-body">
        <form class="layui-form">
          <div class="layui-form-item">
              <label for="L_email" class="layui-form-label">
                  <span class="x-red">*</span>用户名
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="username" name="username"  lay-verify="required"
                  autocomplete="off" class="layui-input" value="{{.user.UserName}}">
              </div>
              <div class="layui-form-mid layui-word-aux">
                  <span class="x-red">*</span>将会成为您唯一的登入名
              </div>
          </div>
          <div class="layui-form-item">
              <label for="L_username" class="layui-form-label">
                  <span class="x-red">*</span>密码
              </label>
              <div class="layui-input-inline">
                  <input type="password" id="password" name="password" lay-verify="password"
                  autocomplete="off" class="layui-input">
              </div>
              <div class="layui-form-mid layui-word-aux">
                  密码长度为6到16个字符
              </div>
          </div>
          <div class="layui-form-item">
              <label for="L_pass" class="layui-form-label">
                  <span class="x-red">*</span>年龄
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="age" name="age" ay-verify="required"
                  autocomplete="off" class="layui-input" value="{{.user.Age}}">
              </div>

          </div>
          <div class="layui-form-item">
              <label for="L_repass" class="layui-form-label">
                  <span class="x-red">*</span>性别
              </label>
              <div class="layui-input-inline" style="width: 220px">
                  {{if eq .user.Gender 1}}
                      <input type="radio" name="gender" required="" lay-verify="repass"
                             autocomplete="off" class="layui-input" value="1" title="男" checked>
                      <input type="radio" name="gender" required="" lay-verify="repass"
                             autocomplete="off" class="layui-input" value="2" title="女">
                      <input type="radio" name="gender" required="" lay-verify="repass"
                             autocomplete="off" class="layui-input" value="3" title="未知">

                  {{else if eq .user.Gender 2}}
                      <input type="radio" name="gender" required="" lay-verify="repass"
                             autocomplete="off" class="layui-input" value="1" title="男">
                      <input type="radio" name="gender" required="" lay-verify="repass"
                             autocomplete="off" class="layui-input" value="2" title="女" checked>
                      <input type="radio" name="gender" required="" lay-verify="repass"
                             autocomplete="off" class="layui-input" value="3" title="未知">

                  {{else if eq .user.Gender 3}}
                      <input type="radio" name="gender" required="" lay-verify="repass"
                             autocomplete="off" class="layui-input" value="1" title="男">
                      <input type="radio" name="gender" required="" lay-verify="repass"
                             autocomplete="off" class="layui-input" value="2" title="女">
                      <input type="radio" name="gender" required="" lay-verify="repass"
                             autocomplete="off" class="layui-input" value="3" title="未知" checked>
                  {{end}}
              </div>
          </div>

            <div class="layui-form-item">
                <label for="L_repass" class="layui-form-label">
                    <span class="x-red">*</span>电话号码
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="phone" name="phone" lay-verify="phone"
                           autocomplete="off" class="layui-input" value="{{.user.Phone}}">
                </div>
            </div>


            <div class="layui-form-item">
                <label for="L_repass" class="layui-form-label">
                    <span class="x-red">*</span>地址
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="addr" name="addr" lay-verify="required"
                           autocomplete="off" class="layui-input" value="{{.user.Addr}}">
                </div>
            </div>


            <div class="layui-form-item">
                <label for="L_repass" class="layui-form-label">
                    <span class="x-red">*</span>是否启用
                </label>
                <div class="layui-input-inline">
                    {{if eq .user.IsActive 1}}
                        <input type="radio" name="is_active" autocomplete="off" class="layui-input" value="1" title="启用" checked>

                        <input type="radio" name="is_active" required="" lay-verify="repass"
                               autocomplete="off" class="layui-input" value="0" title="停用">
                    {{else if eq .user.IsActive 0}}
                        <input type="radio" name="is_active" autocomplete="off" class="layui-input" value="1" title="启用">

                        <input type="radio" name="is_active" required="" lay-verify="repass"
                               autocomplete="off" class="layui-input" value="0" title="停用" checked>
                    {{end}}
                </div>
            </div>


          <div class="layui-form-item">
              <label for="L_repass" class="layui-form-label">
              </label>
              <input type="hidden" value="{{.user.Id}}" id="uid">
              <button  class="layui-btn" lay-filter="add" lay-submit type="button">
                  提交
              </button>
          </div>
      </form>
    </div>
    <script>
        $(function  () {
            layui.use('form', function () {
                var form = layui.form;
                //监听提交
                form.on('submit(add)', function (data) {
                    var username = document.getElementById("username").value;
                    var password = document.getElementById("password").value;
                    var age = document.getElementById("age").value;
                    var gender = $("input[name='gender']:checked").val();
                    var phone = document.getElementById("phone").value;
                    var addr = document.getElementById("addr").value;
                    var is_active = $("input[name='is_active']:checked").val();
                    var uid = document.getElementById("uid").value;


                    if (password.length < 6){
                        alert("密码长度不能小于6个字符");
                        return
                    }

                    $.ajax({
                        url:"{{urlfor "UserController.DoUpdate"}}",
                        type:"POST",
                        data:{
                            "uid":uid,
                            "username":username,
                            "password":password,
                            "age":age,
                            "gender":gender,
                            "phone":phone,
                            "addr":addr,
                            "is_active":is_active
                        },
                        success:function (data) {
                            var code = data["code"];
                            if(code == 200){
                                ions_alert.alertSuccessToast(data["msg"]);
                                setTimeout(reload_list,2000);  // 2s

                            }else {
                                ions_alert.alertErrorToast(data["msg"])
                            }
                        },
                        fail:function (data) {
                            alert(data)
                        }
                    });


                    function reload_list() {
                        // 获得frame索引
                        var index = parent.layer.getFrameIndex(window.name);
                        //关闭当前frame
                        parent.layer.close(index);
                        window.location.href = "{{urlfor "UserController.List"}}"
                    }



                });
            })
        })
    </script>
  </body>

</html>