<!DOCTYPE html>
<html>
  
  <head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/static/css/font.css">
    <link rel="stylesheet" href="/static/css/xadmin.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
      <script type="text/javascript" src="/static//lib/layui/layui.js" charset="utf-8"></script>
      <script type="text/javascript" src="/static/js/xadmin.js"></script>
      <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

      <link rel="stylesheet" href="/static/sweetalert/sweetalert.css">
      <script src="/static/sweetalert/ions_alert.js"></script>
      <script src="/static/sweetalert/sweetalert.min.js"></script>
  </head>
  
  <body>
    <div class="x-body">
        <form class="layui-form">
          <div class="layui-form-item">
              <label for="L_email" class="layui-form-label">
                  <span class="x-red">*</span>事由
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="reason" name="reason"  lay-verify="required"
                  autocomplete="off" class="layui-input">
              </div>
          </div>
          <div class="layui-form-item">
              <label for="L_username" class="layui-form-label">
                  <span class="x-red">*</span>目的地
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="destination" name="destination"  lay-verify="required"
                         autocomplete="off" class="layui-input">
              </div>
          </div>


            <div class="layui-form-item">
                <label for="L_repass" class="layui-form-label">
                    <span class="x-red">*</span>归还日期
                </label>
                <div class="layui-input-inline">
                    <input class="layui-input" placeholder="归还日期" id="return_date">
                </div>
            </div>


          <div class="layui-form-item">
              <label for="L_repass" class="layui-form-label">
              </label>
              <input type="hidden" id="cars_id" value="{{.id}}">
              <button  class="layui-btn" lay-filter="add" lay-submit type="button">
                  提交
              </button>
          </div>
      </form>
    </div>
    <script>



        $(function  () {

            layui.use('laydate', function(){
                var laydate = layui.laydate;

                //执行一个laydate实例
                laydate.render({
                    elem: '#return_date', //指定元素
                    type:'date'
                });
            });




            layui.use('form', function () {
                var form = layui.form;
                //监听提交
                form.on('submit(add)', function (data) {
                    var reason = document.getElementById("reason").value;
                    var destination = document.getElementById("destination").value;
                    var return_date = document.getElementById("return_date").value;
                    var cars_id = document.getElementById("cars_id").value;





                    $.ajax({
                        url:"{{urlfor "CarsApplyController.DoApply"}}",
                        type:"POST",
                        data:{
                            "reason":reason,
                            "destination":destination,
                            "return_date":return_date,
                            "cars_id":cars_id
                        },
                        success:function (data) {
                            var code = data["code"];
                            if(code == 200){
                                ions_alert.alertSuccessToast(data["msg"]);
                                setTimeout(reload_list,2000);  // 2s

                            }else {
                                ions_alert.alertErrorToast(data["msg"])
                            }
                        },
                        fail:function (data) {
                            alert(data)
                        }
                    });


                    function reload_list() {
                        // 获得frame索引
                        var index = parent.layer.getFrameIndex(window.name);
                        //关闭当前frame
                        parent.layer.close(index);
                        window.location.href = "{{urlfor "CarsApplyController.Get"}}"
                    }



                });
            })
        })
    </script>
  </body>

</html>